
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background: #09131b;
  color: #ffffff;
  min-height: 100vh;
}


/* header */

.header {
  background: #122331;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  z-index: 999;
}

.header .logo{
  text-decoration: none;
  color: #ffffff;
}


/* nav menu button */

.menu-btn{
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;
}



.header .menu-btn__lines::before,
.header .menu-btn__lines::after {
  content: "";
  position: absolute;
}

.header .menu-btn__lines,
.header .menu-btn__lines::before,
.header .menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background: #ffffff;
  transition: all 0.4s ease-in-out;
}

.header .menu-btn__lines::before {
  transform: translateY(-0.5rem);
}

.header .menu-btn__lines::after {
  transform: translateY(0.5rem);
}

.header .menu-items {
  display: flex;
  align-items: center;
}

.header ul li {
  list-style: none;
  padding: 0.5rem 1rem;
  transition: 0.3s ease;
}

.header ul li .arrow{
  transition: all .3s ease-out;

}

.menu-items li:hover .fa-angle-down{
  transform: rotate(180deg);
}

.header ul li a {
  text-decoration: none;
  color: #ffffff;
}



/* dropdown */

.header .dropdown {
  position: relative;
}

.header .dropdown-menu,
.menu-right {
  position: absolute;
  background: #122331;
  width: 190px;
  line-height: 30px;
  border-radius: 0px 0px 5px 5px;
  top: 50px;
  border-top: 2px solid white;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.header .menu-right {
  top: 0px;
  left: 110%;
}

.header .menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header .dropdown:hover .dropdown-menu {
  top: 37px;
  opacity: 1;
  visibility: visible;
}

.header .dropdown-right:hover .menu-right {
  left: 100%;
  opacity: 1;
  visibility: visible;
}



/* mega menu  */

.header .mega-menu {
  position: absolute;
  left: 0;
  width: 100vw;
  top: 80px;
  border-top: 1px solid #797777;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.mega-menu .content {
  background: #122331;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.blog .content {
  grid-template-columns: repeat(3, 1fr);
}

.content .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 3rem;
}

.content .col .img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 20vw;
  overflow: hidden;
}

.content .col .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content .col img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.content .col .img-wrapper:hover img {
  transform: scale(1.1);
}

.content .col h2 {
  color: #ff652f;
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: bold;
}

.content .col p {
  line-height: 1.2rem;
  margin-top: 5px;
}

.content .col .mega-links {
  border-left: 1px solid #1a3246;
}

.content .col .read-more {
  display: inline-block;
  padding-top: 1rem;
  color: #427dad;
  transition: color 0.3s ease;
}

.col .mega-links li,
.col .mega-links li a {
  padding: 0 1rem;
}

.menu-items li:hover .mega-menu {
  top: 55px;
  opacity: 1;
  visibility: visible;
}

.content .col .read-more:hover {
  color: #ff652f;
}

/* section */
.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section h1 {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  line-height: 6vw;
  color: #427dad;
  text-transform: uppercase;
}

/* NEW STUFFS */


/* animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background: transparent;
}

.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background: #ffffff;
}

.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background: #ffffff;
}


/* Responsive */

@media screen and (max-width: 1024px) {

  .header {
    padding: 10px 30px;
    border-bottom: 1px solid #797777;
  }

  .menu-btn {
    display: flex;
  }

  .header .menu-items {
    position: absolute;
    height: 100vh;
    max-height: auto;
    width: 100%;
    top: 100%;
    left: 0;
    background: #122331;
    border-top: 1px solid #797777;
    display: block;
    transform: translateX(-100vh);
    transition:  0.3s ease-out;
  }

  .menu-items.open {
    transform: translateY(0);
  }

  .menu-items li:first-child {
    margin-top: 20px;
  }

  .menu-items li a {
    padding: 10px 1rem;
    display: block;
    font-size: 18px;
  }

  .menu-items .dropdown-right .right-arrow{
    transform: rotate(90deg);
  }

  /* DROPDOWN, MEGA MENUS */
  .menu-items .dropdown-menu,
  .menu-items .menu-right,
  .menu-items .mega-menu {
    position: static;
    opacity: 1;
    top: 4rem;
    visibility: visible;
    margin-left: -18px;
    width: 107%;
    max-height: 0;
    transform: scaleX(0);
    transform-origin: left;
    overflow: hidden;
    transition: all 0.5s ease;
  }


  .menu-items .dropdown-menu,
  .menu-items .menu-right{
    padding-left: 1rem;
    width: 102%;
    margin-left: -10px;
    
  }

  .menu-items .mega-menu .col{
    padding-left: 1rem;
  }
  
  .expand-btn.open + .expandable {
    max-height: 100%;
    transform: scaleZ(1);
  }

  .header .expandable{
    border-top: none;
  }

  .expandable li {
    margin: 0;
  }

  .expandable li:last-child{
    border-bottom: none;

  }
  
  .expandable li a {
    font-size: 1rem;
  }

  .mega-menu .content {
    grid-template-columns: auto;
    padding: 1rem 1rem 0 1rem;
  }
  
  .mega-menu .content .col {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .content .col .mega-links {
    border-left: 0px;
    padding-left: 1rem;
  }
  .col .mega-links li {
    margin: 0;
  }
}


@media screen and (max-width: 900px){

  .menu-items .dropdown-menu,
  .menu-items .menu-right{
    padding-left: 1rem;
    width: 103%;
    
  }
}

@media screen and (max-width: 700px){

  .menu-items .dropdown-menu,
  .menu-items .menu-right{
    padding-left: 1rem;
    width: 103%;
    
  }
}



@media screen and (max-width: 576px){

  .header .menu-items {
    position: absolute;
    height: 100vh;
    max-height: auto;
    width: 100%;
    top: 100%;
    left: 0;
    background: #122331;
    border-top: 1px solid #797777;
    display: block;
    transform: translateX(-100vh);
    transition:  0.3s ease-out;
  }

  .menu-items.open {
    transform: translateY(0);
  }

  /* DROPDOWN, MEGA MENUS */
  .menu-items .dropdown-menu,
  .menu-items .menu-right,
  .menu-items .mega-menu {
    position: static;
    opacity: 1;
    top: 4rem;
    visibility: visible;
    margin-left: -18px;
    width: 110%;
    max-height: 0;
    transform: scaleX(0);
    transform-origin: left;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .menu-items .dropdown-menu,
  .menu-items .menu-right{
    padding-left: 1rem;
    width: 104%;
    margin-left: -5px;
    
  }
}


@media screen and (max-width: 360px){

  .menu-items .dropdown-menu,
  .menu-items .menu-right{
    padding-left: 1rem;
    width: 105%;
    margin-left: -5px;
    
  }
}